/target/
/ScClient/nbproject/private/
/ScBEPEL/nbproject/private/
/ScBEPEL/build/
/ScApplication/nbproject/private/
/ScApplication/build/
/ScApplication/src/jbiServiceUnits/
/ScApplication/dist/
/ScApplication/test/results/
/previousPMs/PM1.3/Manufacturer_client/nbproject/private/
/previousPMs/PM1.3/WarehouseClient/nbproject/private/
/previousPMs/PM2/Customer_Restful/nbproject/private/
/previousPMs/PM2/Customer_Restful/build/
/previousPMs/PM2/Customer_Restful/dist/
/previousPMs/PM2/Customer_Restful_Test/build/
/previousPMs/PM2/Customer_Restful_Test/dist/
/previousPMs/PM2/Customer_Restful_Test/nbproject/private/
/previousPMs/PM2/RestfulWarehouseApp/build/
/previousPMs/PM2/RestfulWarehouseApp/dist/
/previousPMs/PM2/RestfulWarehouseApp/nbproject/private/
/previousPMs/PM2/RetailerWebService/build/
/previousPMs/PM2/RetailerWebService/dist/
/previousPMs/PM2/RetailerWebService/nbproject/private/
/previousPMs/PM3.2/BepelRESTService/nbproject/private/
/previousPMs/PM3.2/BepelRESTServiceCA/nbproject/private/
/previousPMs/PM3.2/HelloWorld/nbproject/private/
/previousPMs/PM3.2/HelloWorldClientApp/nbproject/private/
/previousPMs/PM3.2/TestRest/nbproject/private/
/previousPMs/PM3.2/WeatherRESTCA/nbproject/private/
/previousPMs/PM3.2/WeatherRestfulBPEL/nbproject/private/
/previousPMs/PM3.2/XMLReaderApp/nbproject/private/
/previousPMs/PM3.2/XMLReaderBPEL/nbproject/private/